body {
  background-image:url(photos/IMG_5509.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   color: aliceblue;
   

}


img {
    display: flex;
    size-adjust: 3px;
    align-items: center;
    justify-content: center;


}